/*fonts*/
@font-face {
    font-family: 'yanone_regular';
    src: url('../font/yanonekaffeesatz-regular-webfont.eot');
    src: url('../font/yanonekaffeesatz-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/yanonekaffeesatz-regular-webfont.woff') format('woff'),
         url('../font/yanonekaffeesatz-regular-webfont.svg#yanone_kaffeesatzregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: 'yanone_thin';
    src: url('../font/yanonekaffeesatz-thin-webfont.eot');
    src: url('../font/yanonekaffeesatz-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/yanonekaffeesatz-thin-webfont.woff') format('woff'),
         url('../font/yanonekaffeesatz-thin-webfont.svg#yanone_kaffeesatzthin') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*fin de font*/

/* override Wahid */

html {
    margin:0;
    padding:0;

    /*background: rgb(133,167,40); /* Old browsers */
    /*background: -moz-linear-gradient(45deg, rgba(133,167,40,1) 0%, rgba(133,167,40,1) 50%, rgba(118,150,32,1) 50%, rgba(118,150,32,1) 100%); /* FF3.6+ */
    /*background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(133,167,40,1)), color-stop(50%,rgba(133,167,40,1)), color-stop(50%,rgba(118,150,32,1)), color-stop(100%,rgba(118,150,32,1))); /* Chrome,Safari4+ */
    /*background: -webkit-linear-gradient(45deg, rgba(133,167,40,1) 0%,rgba(133,167,40,1) 50%,rgba(118,150,32,1) 50%,rgba(118,150,32,1) 100%); /* Chrome10+,Safari5.1+ */
    /*background: -o-linear-gradient(45deg, rgba(133,167,40,1) 0%,rgba(133,167,40,1) 50%,rgba(118,150,32,1) 50%,rgba(118,150,32,1) 100%); /* Opera 11.10+ */
    /*background: -ms-linear-gradient(45deg, rgba(133,167,40,1) 0%,rgba(133,167,40,1) 50%,rgba(118,150,32,1) 50%,rgba(118,150,32,1) 100%); /* IE10+ */
    /*background: linear-gradient(45deg, rgba(133,167,40,1) 0%,rgba(133,167,40,1) 50%,rgba(118,150,32,1) 50%,rgba(118,150,32,1) 100%); /* W3C */
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#85a728', endColorstr='#769620',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */


  background: url('../img/background.jpg') no-repeat center center fixed;
  background-size: cover;
}
body:fullscreen {
  background: url('../img/background.jpg') no-repeat center center fixed;
  background-size: cover;
}
body:-webkit-full-screen  {
  background: url('../img/background.jpg') no-repeat center center fixed;
  background-size: cover;
}
body:-ms-fullscreen {
  background: url('../img/background.jpg') no-repeat center center fixed;
  background-size: cover;
}
body:-moz-full-screen  {
  background: url('../img/background.jpg') no-repeat center center fixed;
  background-size: cover;
}


body{
    background: none;
    margin:0;
    border:none;
    padding:0px;
    border-image-width: 0;
}
video {
    width:100%;
}
audio {
    width:100%;
}
a {
    color:#00c6ff;
  font-family: yanone_thin;
  font-size:1.4em;
}
a:active, a:focus, a:hover {color:#ddd;}
header {
    width:100%;
    padding:0;
    margin:0 auto;
    /*background:#000;*/
}

header h1 {
    margin:0;
    top:0;
    left:0px;
    /*background:url(../img/imagedoc-darknoise.png);*/
    display:inline;
    /*max-width:20%;*/
    padding: 0px 1em 0 40px;
    margin-bottom:0;
    color:black;
    font-family: yanone_regular;
    font-weight: bolder;
    font-size: 2.2em;
}

.eyes {
    background:url(../img/eyes.png) center bottom no-repeat;
    /*margin-left: 10px;*/
    padding:.3em 1em;
}
.eyes:hover {
    background:url(../img/eyes2.png) center bottom  no-repeat;
}
.meta-doc {
    background:url(../img/meta-doc.png) center bottom  no-repeat;
    /*margin-left: 10px;*/
    padding:.3em 1em
}
.meta-doc:hover{
    background:url(../img/meta-doc2.png) center bottom  no-repeat;
}
.infos {
    background:url(../img/infos.png) center bottom no-repeat;
    /*margin-left: 10px;*/
    padding:.1em 1em;
}
.infos:hover{
    background:url(../img/infos2.png) center bottom  no-repeat;
}
.title-document {display: block;}

@media screen and (max-width: 640px) {
    body {
        font-size:0.7em;
    }
    h1 {
        font-size:20px;
    }
}
#detect, #canvas {
    margin:0;
    padding:0;
}
#container {
    position: relative;
    padding:0px;
    width:100%;
    margin:10px auto;
    border:0px solid #FFF3B2;

    border-image-width: 0;
}

#canvas {
    width:55%;
    margin-top: 10px;

}
#detect {
    position:absolute;
    /*top:50px;*/
    left:0;
    width:100%;
    height:655px;
}

.response {
    display:none;
}

.unlock {
    width: 80%;
    margin:0px auto;
}

.unlock input[type="submit"]{
   background-image: url(../img/unlock-icon.png) ;
   background-repeat: no-repeat;
   width: 40px;
   height: 40px;
   border:0px;
   background-color:transparent;
}

.unlock input[type="text"]{
   padding: 10px;
   margin:10px;
   background-color: #ffec64;
   border:0px;
   box-shadow: inset 0px 0px 5px #ffab23;
}

.button {
  box-shadow: black 2px 2px 2px;
	background-color:#3498DB;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	display:inline-block;
	cursor:pointer;
	color:white;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
}
.button:hover {
	background-color:#6BB9F0;
  color:white;
}
.button:active {
	position:relative;
	top:1px;
}

/* popup */
.overlay {
    position:fixed;
    top:0;
    right:0;
    left:0;
    bottom:0;
    background: rgba(0,0,0,0.6);
}
#popup {
    z-index:200;
    position:relative;
    border-radius: 5px;
    width: 60%;
    margin: 50px auto;
    background:white;
    min-height: 100px;
    box-shadow: black 5px 5px 10px;
}
#popup_intro {
    z-index:200;
    position:relative;
    border-radius: 5px;
    width: 40%;
    margin: 0px auto;
    background:white;
    min-height: 100px;
    box-shadow: black 5px 5px 10px;
    padding:10px;
    font-family: yanone_thin;
    font-size: 2em;
    text-align:center;

}
#popup_intro img{
  width: 20%;
  max-width: 40px;
}
#content {
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
}
#content article {
    display:none;
    z-index:100;
    margin: 0px auto;
    overflow-y: auto;
    overflow-x: hidden;
    font-family: yanone_thin;
    font-size:1.5em;
}
#content article p, h1 {
    margin: 10px;
}
#message_success {width:80%;}
#message_success_content, #message_success_content2 {
  font-family: yanone_regular;
  font-size:1.2em;
  text-align: center;
  padding:20px;
  padding-top: 40px;
  border-radius:5px;
  background:rgba(250,250,250,0.97);
  box-shadow: black 5px 5px 10px;
}
#content article h1 {
    font-family: yanone_thin;
}

.article_close {
    z-index:200;
    display: none;
    cursor: pointer;
    position:absolute;
    top:0px;
    height:40px;
    text-align:center;
}
#popup_text {
    text-align:center;
    font-family: yanone_regular;
    padding-top:5px;
}
#popup_text img{
    float:none;
    max-height:60px;
    margin: 10px;
}
#content #message_success, #content #message_success2 {
    overflow-x:visible;
    overflow-y:visible;
}
#content #message_success_content, #content #message_success_content2 {
    margin:10px;
}
#popup_close, #popup_close_intro{
    cursor: pointer;
    position:absolute;
    top:-20px;
    right:-20px;
    width:40px;
}
#popup_toggle, #popup_toggle2 {
  cursor: pointer;
  position: absolute;
  top:-10px;
  left:49%;
}
iframe {border:none;}
#loader {
    position:fixed;
    display: table;
    text-align:center;
    width:100%;
    height:100%;
    top:0;
    right:0;
    left:0;
    bottom:0;
    background: black;
    z-index:1000;
}
#loader div{
    font-family: yanone_thin, Arial;
    font-size: 2em;
    display:table-cell;
    vertical-align: middle;
    color:white;
}
#loader img{
  max-width: 5em;
  margin: 0.7em 0.7em;
}
.videoWrapper16_9 {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 5px;
    height: 0;
}
.videoWrapper4_3 {
    position: relative;
    padding-bottom: 75%;
    padding-top: 5px;
    height: 0;
}
.videoWrapper16_9 iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.videoWrapper4_3 iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}



/* thanks to Chris Coyier on https://css-tricks.com/css3-progress-bars/ */

#splash div#progressbar-wrap {
    width: 80%;
    max-width: 500px;
    display:block;
    margin:0px auto;
}
#progressbar-wrap div.meter {
    height: 20px;  /* Can be anything */
    position: relative;
    display: block;
    margin: 60px 0 20px 0; /* Just for demo spacing */
    background: #555;
    border-radius: 25px;
    padding: 10px;
    box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
}
.meter > span {
    display: block;
    height: 100%;
    width: 0%;
    transition-duration: 0.5s;
    transition-timing-function: linear;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: rgb(43,194,83);
    background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0, rgb(43,194,83)),
      color-stop(1, rgb(84,240,84))
     );
    background-image: -moz-linear-gradient(
      center bottom,
      rgb(43,194,83) 37%,
      rgb(84,240,84) 69%
     );
    box-shadow:
      inset 0 2px 9px  rgba(255,255,255,0.3),
      inset 0 -2px 6px rgba(0,0,0,0.4);
    position: relative;
    overflow: hidden;
}
.meter > span:after, .animate > span > span {
    content: "";
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    background-image:
       -webkit-gradient(linear, 0 0, 100% 100%,
          color-stop(.25, rgba(255, 255, 255, .2)),
          color-stop(.25, transparent), color-stop(.5, transparent),
          color-stop(.5, rgba(255, 255, 255, .2)),
          color-stop(.75, rgba(255, 255, 255, .2)),
          color-stop(.75, transparent), to(transparent)
       );
    background-image:
        -moz-linear-gradient(
          -45deg,
          rgba(255, 255, 255, .2) 25%,
          transparent 25%,
          transparent 50%,
          rgba(255, 255, 255, .2) 50%,
          rgba(255, 255, 255, .2) 75%,
          transparent 75%,
          transparent
       );
    z-index: 1;
    background-size: 50px 50px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    overflow: hidden;
}
#message_success_content img, #message_success_content2 img {
  width:80%;
}
.article_content h1 {
    font-size: 2em;
    margin-left: 0;
    font-weight: 900;
    border-bottom: 1px solid #eee;
}
